<section class="activity section">
  <div class="section__header">
    <h2 class="section__title" id="activityMainTitle">Наша діяльність</h2>
  </div>
  <div class="container">
    <h3 class="activity__title" id="activityTitle">Напрямки допомоги нашого фонду</h3>
    <ul class="activity__list">
      <li class="activity__item" id="activity1">
        Гуманітарне забезпечення населення: продукти харчування, медикаменти,
        товари першої необхідності, засоби обігріву, електрогенерації тощо
      </li>
      <li class="activity__item" id="activity2">
        Медична допомога (реабілітація, психологічна допомога, онкологія)
      </li>
    </ul>
    <h3 class="activity__title" id="activityTitle2">Реквізити БО "Форпост людяності"</h3>
    <ul class="activity__list">
      <li class="activity__item">
        <p class="activity__subtitle" id="activitySubTitle1">Для донатів в USD</p>
        <p class="activity__text">
          Beneficiary: CO "CF " OUTPOST OF HUMANITY " <br />
          USD IBAN: UA773808050000000026009800113 <br />
          Code 44738083 <br />
          12А, Polarna Str., 04201, Kyiv, Ukraine
          <br />
          Bank of beneficiary: Raiffeisen Bank Aval JSC <br />
          Bank of beneficiary address: Leskova str.9, Kyiv 01011, Ukraine
          <br />
          SWIFT: AVALUAUKXXX <br />
          Correspondent Account: 890-0260-688 <br />
          Correspondent Bank: The Bank of New York Mellon, New York, USA <br />
          SWIFT: IRVTUS3N
        </p>
      </li>
      <li class="activity__item">
        <p class="activity__subtitle" id="activitySubTitle2">Для донатів в EUR</p>
        <p class="activity__text">
          Beneficiary: CO "CF " OUTPOST OF HUMANITY " <br />
          EUR IBAN: UA723808050000000026005800117 <br />
          Code 44738083 <br />
          12А, Polarna Str., 04201, Kyiv, Ukraine <br />
          Bank of beneficiary: JSC Raiffeisen Bank Aval <br />
          Bank of beneficiary address: Leskova Str. 9, Kyiv 01011, Ukraine
          <br />
          SWIFT: AVALUAUKXXX <br />
          Correspondent Account: 55.022.305 <br />
          Correspondent Bank: Raiffeisen Bank International AG <br />
          SWIFT: RZBAAT WW
        </p>
      </li>
      <li class="activity__item">
        <p class="activity__subtitle" id="activitySubTitle3">Для донатів в UAH</p>
        <p class="activity__text">
          БЛАГОДІЙНА ОРГАНІЗАЦІЯ "БЛАГОДІЙНИЙ ФОНД "ФОРПОСТ ЛЮДЯНОСТІ" <br />
          ЄДРПОУ 44738083 <br />
          04201, м. Київ, вул. Полярна, буд. 12А <br />
          IBAN UA463808050000000026001800111 UAH <br />
          АТ "РАЙФФАЙЗЕН БАНК АВАЛЬ" у м. Києві
        </p>
      </li>
    </ul>
  </div>
</section>
