<footer class="footer">
  <div class="footer__upperbox">
    <div class="container footer__container">
      <a class="footer__logo-link" href="#">
        <img
          class="footer__logo"
          src="./images/logo_ukr.png"
          alt="Logo of CF Outpost of Humanity"
        />
      </a>
      <div class="footer__wrapper">
        <p class="footer__slogan" id="slogan">
          Людяність <span class="footer__slogan--mediumbold">підтримує</span>
          <span class="footer__slogan--bold">людство</span>
        </p>
        <div class="button">
          <a class="button__link" href="#" id="footerButton">Пожертвувати</a>
        </div>
      </div>
      <div>
        <address>
          <ul class="footer__address">
            <li>
              <a
                href="https://goo.gl/maps/EzN9Js2jGK4XR7yk8"
                target="_blank"
                rel="noreferrer noopener"
                class="footer__address-link"
                id="address"
                >вул. Полярна 12А, м. Київ, 04201</a
              >
            </li>
            <li>
              <a href="mailto:mail@oohfund.com" class="footer__address-link"
                >mail@oohfund.com</a
              >
            </li>
            <li>
              <a href="tel:+380635001122" class="footer__address-link"
                >+38 063 500 11 22</a
              >
            </li>
          </ul>
        </address>
        <ul class="socials footer__socials">
          <li class="socials__item">
            <a
              href="https://www.facebook.com/ooh.fund"
              target="_blank"
              class="socials__link"
            >
              <svg class="socials__icon">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a
              href="https://twitter.com/OoH_foundation"
              target="_blank"
              class="socials__link"
            >
              <svg class="socials__icon">
                <use href="./images/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer__lowerbox">
    <div class="container">
      <p class="footer__copyright">
        &copy; 2023 Outpost of Humanity Charity Foundation
      </p>
    </div>
  </div>
</footer>
