<header class="header">
    <div class="container header__container">
      <!-- <div class="button">
        <a class="button__link" href="#" id="buttonText">Пожертвувати</a>
      </div> -->
      <div>
        <button type="button" class="lang-button" id="button-ua">ua</button>
        <button type="button" class="lang-button"id="button-en">en</button>
      </div>
      <ul class="socials">
        <li class="socials__item">
          <a
            href="https://www.facebook.com/ooh.fund"
            target="_blank"
            class="socials__link"
          >
            <svg class="socials__icon">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a
            href="https://twitter.com/OoH_foundation"
            target="_blank"
            class="socials__link"
          >
            <svg class="socials__icon">
              <use href="./images/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
