<header class="header">
  <div class="header__socials">
    <div class="container header__container">
      <ul class="socials">
        <li class="socials__item">
          <a href="https://www.facebook.com/ooh.fund" target="_blank" class="socials__link">
            <svg class="socials__icon">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a href="https://twitter.com/OoH_foundation" target="_blank" class="socials__link">
            <svg class="socials__icon">
              <use href="./images/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="header__main">
    <div class="container">
      <!-- <img src="" alt="" class="logo" /> -->
      <button>Пожертвувати</button>
    </div>
  </div>
</header>
