<section class="team section">
  <div class="section__header">
    <h2 class="section__title">Наша команда</h2>
  </div>
  <div class="container team__container">
    <p class="section__text team__text">
      БО "Форпост людяності" була створена за всіма законами природи - коли
      накопичилася "критична маса" порядних і небайдужих
      <span class="team__accent-text"
        >громадян з активною життєвою позицією та відповідним досвідом,</span
      >
      вона спричина ланцюгову реакцію - було прийнято рішення об'єднати наші
      зусилля під одним дахом.
    </p>
    <p class="section__text team__text">
      Для успішного виконання цілей та задач команда має працювати як єдиний
      організм. І для цього в нас є все необхідне:
    </p>
    <ul class="team__list">
      <li class="team__item">
        Представники бізнесу з більш ніж 20-річним досвідом, інженери (наш
        мозковий центр)
      </li>
      <li class="team__item">
        Медики, представники медичного асистансу (наша імунна система)
      </li>
      <li class="team__item">
        Спеціалісти з логістичного бізнесу та транспортних перевезень (наша
        транспортна система)
      </li>
      <li class="team__item">
        Група досвідчених волонтерів (наші руки та ноги)
      </li>
      <li class="team__item">
        Журналісти, IT-спеціалісти, бухгалтери та багато інших
      </li>
    </ul>
    <ul class="team__actions-list">
      <li class="team__actions-item">
        <img src="./images/donate.jpg" alt="People collecting donations" class="team__actions-image" />
        <p class="team__actions-caption">Допоможіть людям</p>
        <button class="button team__actions-button">Пожертвувати</button>
      </li>
      <li class="team__actions-item">
        <img src="./images/volunteer.jpg" alt="A group of people volunteering" class="team__actions-image" />
        <p class="team__actions-caption">Станьте волонтером</p>
        <button class="button team__actions-button">Волонтерити</button>
      </li>
      <li class="team__actions-item">
        <img src="./images/team.jpg" alt="A group of people working together" class="team__actions-image" />
        <p class="team__actions-caption">Приєднуйтеся до нас</p>
        <button class="button team__actions-button">Приєднатися</button>
      </li>
    </ul>
  </div>
</section>
