<section class="world section">
  <div class="container">
    <h2 class="visually-hidden" id="worldTitle">Війна в Україні</h2>
    <p class="world__title" id="worldSubTitle">
      9 років війни, 18 місяців повномасштабного вторгнення
    </p>
    <p class="section__text" id="worldText">
      Бiль, розруха, людськi страждання та трагедії... Кожен день з початку
      вiйни цивiльне населения в тiй чи iншiй мipi веде свою боротьбу - за виживання - своє, сiм'ї та країни.
    </p>
  </div>
</section>
