.header {
    position: relative;
}

.header__socials {
  height: 40px;
  background-color: $mainBlackColor;
}

.header__container {
  height: 100%;
}

.header__main {
    height: 120px;
    background-color: $transparentBlackColor;
    position: absolute;
    top: 40px;
    width: 100%;
}