.header__socials {
  height: 60px;
  background-color: $mainBlackColor;

  @media screen and (min-width: 768px) {
    height: 70px;
  }

  @media screen and (min-width: 1200px) {
    height: 80px;
  }
}

.header__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lang-button {
  background-color: transparent;
  color: $mainWhiteColor;
  text-transform: uppercase;
  width: 40px;
  border-radius: 3px;
  font-size: 16px;

  @media screen and (min-width: 768px) {
    font-size: 18px;
  }

  @media screen and (min-width: 1200px) {
    width: 50px;
    font-size: 22px;
  }

  &:hover,
  &:focus {
    color: $accentColor;
  }

  &.active-lang {
    color: $accentColor;
  }
}