.hero {
  background-image: url(../images/hero_img_ua.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  min-height: 300px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;

  @media screen and (min-width: 480px) {
    min-height: 360px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 100px;
    min-height: 480px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 120px;
    min-height: 680px;
  }
}

.hero-ua {
  background-image: url(../images/hero_img_ua.jpg);
}

.hero-en {
  background-image: url(../images/hero_img_en.jpg);
}

.hero__logo {
  margin-left: auto;
  margin-right: auto;
  width: 240px;

  @media screen and (min-width: 768px) {
    width: 360px;
  }

  @media screen and (min-width: 1200px) {
    width: 580px;
  }
}
