.socials {
  display: flex;
  gap: 20px;
  height: 100%;
  align-items: center;
  justify-content: end;
}

.socials__item {
  width: 20px;
  height: 20px;

  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    width: 24px;
    height: 24px;
  }
}

.socials__link {
  fill: $iconPrimaryColor;

  transition: fill $baseTransition;

  &:hover,
  &:focus {
    fill: $accentColor;;
  }
}

.socials__icon {
  width: 100%;
  height: 100%;
}
