.team {
  padding-bottom: 30px;

  @media screen and (min-width: 1200px) {
    padding-bottom: 60px;
  }
}

.team__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team__text {
  margin-bottom: 30px;
}

.team__accent-text {
  font-weight: 700;
}

.team__list {
  text-align: center;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 60px;
  }
}

.team__item {
  font-size: 14px;
  font-weight: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  gap: 10px;

  &::before,
  &::after {
    content: '';
    display: block;
    background-color: $accentColor;
    width: 8px;
    height: 8px;
    flex-shrink: 0;

    @media screen and (min-width: 768px) {
      width: 10px;
      height: 10px;
    }

    @media screen and (min-width: 1200px) {
      width: 12px;
      height: 12px;
    }
  }

  @media screen and (min-width: 768px) {
    justify-content: center;
    font-size: 15px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
}

.team__actions-list {
  display: flex;
  gap: 20px;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 30px;
  }

  @media screen and (min-width: 1200px) {
    gap: 40px;
  }
}

.team__actions-image {
  width: 300px;
  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
    width: 360px;
  }
}

.team__actions-caption {
  font-size: 18px;
  margin-bottom: 5px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 10px;
    font-size: 24px;
  }
}

.team__actions-button {
  font-size: 18px;
  font-weight: 500;
  width: 170px;
  height: 42px;

  @media screen and (min-width: 1200px) {
    width: 240px;
    height: 54px;
    font-size: 24px;
  }
}
